$--background-color: --background-color;
$--main-color: --main-color;
$--color-text-dark: --color-text-dark;
$--color-text-darker: --color-text-darker;
$--color-text-light: --color-text-light;
$--seperator: --seperator;
$--shadow: --shadow;
$--card-main: --card-main;
$--section-title: --section-title;
$--filter: --filter;

$bp-sm: 600px;
$bp-md: 800px;
$bp-lg: 992px;

$theme-map-light: (
  $--background-color: #ffffff,
  $--main-color: #383870,
  $--color-text-dark: #333,
  $--color-text-darker: #222,
  $--color-text-light: #eee,
  $--seperator: #ff2222,
  $--shadow: rgba(0, 0, 0, 0.1),
  $--card-main: rgb(10, 10, 10),
  $--section-title: #bac6d6,
  $--filter: none,
);

$theme-map-dark: (
  $--background-color: black,
  $--main-color: #3c7cb8,
  $--color-text-dark: rgb(190, 180, 180),
  $--color-text-darker: rgb(149, 145, 145),
  $--color-text-light: rgb(238, 224, 224),
  $--seperator: #ff2222,
  $--shadow: rgba(160, 160, 160, 0.1),
  $--card-main: whitesmoke,
  $--section-title: currentColor,
  $--filter: contrast(0),
);
