$--main-color: --main-color;
$--accent-color: --color3;
$--background-color: --background-color;
$--color-text-dark: --color-text-dark;
$--color-text-darker: --color-text-darker;
$--color-text-light: --color-text-light;
$--shadow: --shadow;
$--card-main: --card-main;
$--section-title: --section-title;
$--section-image: --section-image;
$--background-image-brightness: --background-image-brightness;

$bp-sm: 600px;
$bp-md: 800px;
$bp-lg: 992px;

$theme-map-light: (
  $--main-color: #383870,
  $--accent-color: #eea725,
  $--background-color: #ffffff,
  $--color-text-dark: #333,
  $--color-text-darker: #222,
  $--color-text-light: #eee,
  $--shadow: rgba(0, 0, 0, 0.1),
  $--card-main: rgb(10, 10, 10),
  $--section-title: #e7d9ea,
  $--section-image: brightness(0.9) sepia(0.5) hue-rotate(180deg) saturate(5),
  $--background-image-brightness: 0.9,
);

$theme-map-dark: (
  $--main-color: #3c7cb8,
  $--accent-color: #dfa01f,
  $--background-color: #111,
  $--color-text-dark: rgb(190, 180, 180),
  $--color-text-darker: rgb(149, 145, 145),
  $--color-text-light: rgb(238, 224, 224),
  $--shadow: rgba(160, 160, 160, 0.1),
  $--card-main: whitesmoke,
  $--section-title: #b8a1db,
  $--section-image: brightness(2.5) sepia(0.6) hue-rotate(185deg) saturate(3),
  $--background-image-brightness: 0.1,
);
