$--background-color: --background-color;
$--main-color: --main-color;
$--color-text-dark: --color-text-dark;
$--color-text-darker: --color-text-darker;
$--color-text-light: --color-text-light;
$--seperator: --seperator;
$--theme-test: --theme-test;

$theme-map-light: (
  $--background-color: #ffffff,
  $--main-color: #383870,
  $--color-text-dark: #333,
  $--color-text-darker: #222,
  $--color-text-light: #eee,
  $--seperator: #ff2222,
);

$theme-map-dark: (
  $--background-color: black,
  $--main-color: #3c7cb8,
  $--color-text-dark: rgb(190, 180, 180),
  $--color-text-darker: rgb(149, 145, 145),
  $--color-text-light: rgb(238, 224, 224),
  $--seperator: #ff2222,
);

$background-color: #ffffff;
$main-color: #383870;
$color-text-dark: #333;
$color-text-darker: #222;
$color-text-light: #eee;
$seperator: #ff2222;
