@import "./_variables.scss";

.svg-container {
  position: relative;
  padding-bottom: 2.5vh;
  max-width: 260px;
  margin: 0 auto;
  svg {
    fill: gainsboro;
  }

  @media (max-width: $bp-lg) {
    max-width: 230px;
  }

  .blob-title {
    color: var($--main-color);
    text-shadow: 2px 2px 8px var($--shadow);

    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.6em;

    @media (max-width: $bp-lg) {
      top: 30%;
      font-size: 3rem;
    }
  }
}
