@import "themes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-size: 1.25rem;
}

.container {
  min-height: 100vh;
  color: var($--color-text-dark);
  background-color: var($--background-color);
}

section {
  padding-top: 5vh;

  &:not(:first-child) {
    padding-top: 6vh;
    padding-bottom: 1vh;
  }

  > h2 {
    padding-bottom: 1.3rem;
    color: var($--main-color);
  }

  @media (max-width: $bp-lg) {
    padding-top: 5vh;
  }
  p {
    text-align: justify;
  }

  .section-img-container {
    margin: 0 auto;
    max-width: 45%;
    filter: var($--filter);
    &.top {
      margin-top: -0.5rem;
      padding-bottom: 1rem;
    }
    &.bottom {
      padding-top: 2.5rem;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem auto;
  width: 900px;
  max-width: 90%;
}

.highlight {
  background-color: var($--main-color);
  color: var($--color-text-light);
  padding: 1px 5px;
  line-height: 2.9rem;
}

.divider {
  height: 0px;
  border-top: 2px solid var($--seperator);
  margin: 12px auto 16px;
  width: 41%;
}

#intro {
  min-height: 95vh;
  text-align: center;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 993px) {
    font-size: 1.75rem;
  }
  .contact {
    display: flex;
    min-width: 160px;
    justify-content: space-between;
    padding-top: 0.75rem;
  }
}

// #projects {
// }

// #skills {
// }

.project {
  width: 100%;
  color: var($--color-text-dark);

  h1 {
    margin-bottom: 1rem;
  }
  a {
    color: var($--main-color);
    text-decoration: none;
    &:hover {
      opacity: 80%;
    }
  }
  h3,
  p {
    margin: 1rem 0;
  }
  ul {
    margin-top: 0.5rem;
    list-style-position: inside;
    font-size: 1rem;
  }

  img {
    border-radius: 1%;
    padding-bottom: 1rem;
  }
}

footer {
  color: var($--color-text-darker);
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
