@import "themes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-size: 1.25rem;
}

.container {
  color: var($--color-text-dark);
  background-color: var($--background-color);
}

section {
  min-height: 95vh;
  padding-top: 5vh;

  > h2 {
    padding-bottom: 1.3rem;
    color: var($--main-color);
  }

  @media (max-width: 992px) {
    min-height: 94vh;
    padding-top: 6vh;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5rem auto;
  width: 900px;
  max-width: 90%;
  // width: 57ch;
}

.highlight {
  background-color: var($--main-color);
  color: $color-text-light;
  padding: 1px 5px;
  line-height: 2.9rem;
}

.divider {
  height: 0px;
  border-top: 2px solid var($--seperator);
  margin: 12px auto 16px;
  width: 41%;
}

#intro {
  text-align: center;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 993px) {
    font-size: 1.75rem;
  }
  .contact {
    display: flex;
    min-width: 160px;
    justify-content: space-between;
    padding-top: 0.75rem;
  }
}

// #projects {
// }

// #skills {
// }

.project-previews-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.1rem;
  color: var($--color-text-darker);
}

.project-preview {
  margin-bottom: 1.8rem;
  width: 100%;
  img {
    border-radius: 3%;
  }
  @media (min-width: 600px) {
    img {
      border-radius: 25% 10%;
      // border-radius: 10%;
      transition: border-radius 0.3s !important;
      &:hover {
        border-radius: 3%;
      }
    }
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
    text-align: center;
    // text-decoration: underline;
    a {
      color: var($--color-text-dark);
      text-decoration: none;
    }
  }
  p {
    margin: 0.8rem 0.7rem 0 0.7rem;
    text-align: justify;
    // text-justify: newspaper;
  }
}

@media (min-width: 600px) {
  .project-preview {
    flex: 1 50%;
    max-width: calc(50% - 1.25rem);
  }
}

.project {
  width: 100%;
  color: var($--color-text-dark);

  h1 {
    margin-bottom: 1rem;
  }
  a {
    color: var($--main-color);
    text-decoration: none;
    &:hover {
      opacity: 80%;
    }
  }
  h3,
  p {
    margin: 1rem 0;
  }
  ul {
    margin-top: 0.5rem;
    list-style-position: inside;
    font-size: 1rem;
  }

  img {
    border-radius: 1%;
    padding-bottom: 1rem;
  }
}

footer {
  color: var($--color-text-darker);
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}
