@import "themes.scss";

$font-size: 16px;
$blue: #0a4870;
$blue2: #e3ebf1;
$black: #000;
$grey: #7d7d7d;
$grey2: #f0f0f0;
$grey3: #e8e7e7;
$grey4: #fdfdfd;
$bluegrey: #49606e;
$orange: #ec992c;

@mixin radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin cardsOpen() {
  &::before {
    background: rgba(10, 72, 112, 0.6);
    z-index: 1;
  }
  .main-link-container {
    .content {
      opacity: 1;

      transform: translateY(0px);
    }
    z-index: 2;
  }

  .informations-container {
    transform: translateY(0px);
    .more-information {
      opacity: 1;
    }
    z-index: 2;
  }
}

.project-previews-container {
  display: grid;
  grid-gap: 2rem 1.75rem;
  max-width: 1024px;
  margin: 0 auto;
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  list-style: none;

  .project-card {
    justify-self: center;
    position: relative;
    display: flex;
    min-width: 270px;
    max-width: 436px;
    flex-direction: column;

    @include radius(10px);

    overflow: hidden;
    text-align: center;
    color: $blue;

    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background: rgba(10, 72, 112, 0);

      transition: 0.3s;
    }

    .main-link-container {
      height: 175px;
      .content {
        position: relative;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        transform: translateY(-175px);

        transition: 0.3s;

        .btn,
        a {
          border: 3px solid white;
          padding: 10px 15px;
          // background: none;
          // color: white;
          background: white;
          color: $blue;

          text-transform: uppercase;
          font-weight: bold;
          font-size: 1.3rem;
          border-radius: 5%;
          text-decoration: none;

          cursor: pointer;

          transition: 0.2s;

          &:hover {
            background: white;
            // border: 0px solid $blue;
            border: 3px solid $blue;

            color: $blue;
          }
        }
      }
    }

    .informations-container {
      flex: 1 0 auto;

      padding: 20px;

      background: $grey2;

      transform: translateY(150px);

      transition: 0.3s;

      .title {
        position: relative;

        padding-bottom: 10px;
        margin-bottom: 10px;

        font-weight: bold;
        font-size: 1.2em;

        &::after {
          content: "";

          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;

          height: 3px;
          width: 50px;

          margin: auto;

          background: $blue;
        }
      }

      .more-information {
        opacity: 0;

        transition: 0.3s;
        .info-and-date-container {
          display: flex;

          .box {
            flex: 1 0;

            padding: 15px;
            margin-top: 20px;
            @include radius(10px);

            background: white;

            font-weight: bold;
            font-size: 0.9rem;
            text-decoration: none;

            .icon {
              margin-bottom: 5px;
            }

            &.code {
              color: $orange;
              margin-right: 10px;
            }
            &.visit {
              color: $bluegrey;
            }
          }
        }
        .about {
          min-height: 55px;
          margin-top: 20px;

          font-size: 0.8em;
          color: $grey;
        }
      }
    }

    &:hover {
      @include cardsOpen();
    }
  }

  @media (max-width: 767px) {
    .project-card {
      @include cardsOpen();
    }
  }
}

h1 {
  margin: 10px 20px;
}
