@import "themes.scss";

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.project-previews-container {
  display: grid;
  grid-gap: 1.25rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  @media (min-width: $bp-lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  a {
    color: whitesmoke;
    text-decoration: none;
  }
}

.project-preview {
  height: 430px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  box-shadow: 0 1px 1px var($--shadow), 0 2px 2px var($--shadow),
    0 4px 4px var($--shadow), 0 8px 8px var($--shadow),
    0 16px 16px var($--shadow);

  @media (min-width: $bp-lg) {
    align-items: flex-end;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      hsla(0, 0%, 0%, 0) 0%,
      hsla(0, 0%, 0%, 0.009) 11.7%,
      hsla(0, 0%, 0%, 0.034) 22.1%,
      hsla(0, 0%, 0%, 0.072) 31.2%,
      hsla(0, 0%, 0%, 0.123) 39.4%,
      hsla(0, 0%, 0%, 0.182) 46.6%,
      hsla(0, 0%, 0%, 0.249) 53.1%,
      hsla(0, 0%, 0%, 0.32) 58.9%,
      hsla(0, 0%, 0%, 0.394) 64.3%,
      hsla(0, 0%, 0%, 0.468) 69.3%,
      hsla(0, 0%, 0%, 0.54) 74.1%,
      hsla(0, 0%, 0%, 0.607) 78.8%,
      hsla(0, 0%, 0%, 0.668) 83.6%,
      hsla(0, 0%, 0%, 0.721) 88.7%,
      hsla(0, 0%, 0%, 0.762) 94.1%,
      hsla(0, 0%, 0%, 0.79) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
  }
}

.contenty {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  // color: var($--main-color);
  // background-color: var($--main-color);
  transition: transform var(--d) var(--e);
  z-index: 1;

  > * + * {
    margin-top: 1rem;
  }
}
.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 10px;
}
.copy {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;

  &:hover {
    background-color: lighten(black, 5%);
  }

  &:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
  }
}

@media (hover: hover) and (min-width: $bp-lg) {
  .project-preview:after {
    transform: translateY(0);
  }

  .contenty {
    transform: translateY(calc(100% - 4.5rem));

    > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
  }
  .project-preview:hover,
  .project-preview:focus-within {
    align-items: center;

    &:before {
      transform: translateY(-4%);
    }
    &:after {
      transform: translateY(-50%);
    }

    .contenty {
      transform: translateY(0);

      > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
      }
    }
  }
  .project-preview:focus-within {
    &:before,
    &:after,
    .contenty,
    .contenty > *:not(.title) {
      transition-duration: 0s;
    }
  }
}
